@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.alert-wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    margin-top: 4.5rem;
    z-index: 1050;
    transition: all 300ms ease;

    // Mobile: full width
    width: 100%;
    padding: 0 0.75rem;

    // md and up: shrink + center
    @include media-breakpoint-up(sm) {
        width: auto;
        padding: 0;
    }
}


.alert-wrapper.alert-enter {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

.alert-wrapper.alert-exit {
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
}
