// override variables BEFORE importing the rest
// $border-radius: 0;        // global corner rounding
// $font-family-sans-serif: monospace;

$primary: #b53059;
$body-bg-dark: #181818;
$body-secondary-bg-dark: #1e1e1e;

// import Bootstrap
@import "bootstrap/scss/bootstrap";