// override variables BEFORE importing the rest

/* AtkinsonHyperlegible font imports */
@font-face {
    font-family: 'AtkinsonHyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AtkinsonHyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AtkinsonHyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AtkinsonHyperlegible';
    src: url('/fonts/AtkinsonHyperlegible-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

$font-family-sans-serif: 'AtkinsonHyperlegible', 'Lexend', "monospace", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$primary: #e55c50;
$body-bg-dark: #101522;
$body-secondary-bg-dark: #1a2030;

// import Bootstrap
@import "bootstrap/scss/bootstrap";