$highlight: rgba(var(--bs-primary-rgb), 0.75);

html {
    scroll-behavior: smooth;
}

/* user highlight selection */
::selection {
    background-color: $highlight;
    color: var(--bs-emphasis-color);
}
/* for firefox */
::-moz-selection {
    background-color: $highlight; 
    color: var(--bs-emphasis-color);
}

.hover-btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.366);
}

.btn-home-parent {
    flex-direction: column;

    @media (min-width: 420px) {
        flex-direction: row;
    }
}

.btn-home {     
    width: 90%;
    @media (min-width: 300px) {
        width: 75%;
    }
    @media (min-width: 420px) { 
        width: auto; 
    } 
}

.carousel-item {
    height: 50vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.vh-60 {
    height: 60vh;
}

// for navbar etc.
.z-100 {
    z-index: 100;
}

.text-smallest {
    font-size: 0.75rem;
}

.text-smallest-smallest {
    font-size: 0.5rem;
}

.lh-xs {
    line-height: 0.9rem;
}