.hover-btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.366);
}

.btn-home { max-width: 320px; }

.carousel-item {
    height: 50vh;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
  

// for navbar etc.
.z-100 {
    z-index: 100;
}

.text-smallest {
    font-size: 0.75rem;
}