.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card-link:hover {
    text-decoration: none;
    color: inherit;
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.product-card:hover {
    transform: translateY(-6px);
    z-index: 3;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.47);
    color: var(--bs-primary-text-emphasis);
}

/* img zoom */
.product-image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1.75 / 1;
    overflow: hidden;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.product-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.05);
}